body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
header {
    background-color: #007acc;
    color: #dec90f;
    padding: 20px;
    text-align: center;
}
header .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}
header .logo {
    max-width: 100px;
    height: auto;
}
nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
section {
    padding: 20px;
    margin: 10px auto;
    max-width: 800px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.video-container video {
    width: 100%;
    max-width: 640px;
    display: block;
    margin: 10px auto;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #007acc;
    color: #fff;
    margin-top: 20px;
}
.btn-download {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007acc;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}
.btn-download:hover {
    background-color: #005b99;
}

#bibtex {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#bibtex h2 {
    color: #007acc;
}

pre.bibtex {
    background: #eee;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    font-family: monospace;
}
